#cse, header, #footer {
  display: none !important;
}

body {
  background: #fff !important;
}

#content {
  min-height: 1000px !important;
}

.q-block {
  padding: 5px 20px;
}

.q-title {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  display: block;
}

a.q-title:visited {
  color: #888 !important;
}
 
.list-title {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin: 5px;
}

#priorityList {
  background-color: #ffffff;
}

#mathList {
  background-color: #ffffff;
}

.bucket {
  width: 49%;
  float: left;
}

.dashboard-item, .newuser {
  display: none !important;
}

/* Top bar indicatiors */

.inserted-review {
  height: 34px;
  display: inline-block;
  vertical-align: top;
  margin: -10px 0 10px 10px;
}

.inserted-review a {
  color: #e0e0e0 !important;
  text-decoration: none !important;
  display: inline-block !important;
  height: 24px !important;
  margin: 0 !important;
  padding: 10px 7px 0 7px !important;
  font-size: 13px !important;
  line-height: 13px !important;
  vertical-align: top !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.inserted-review a:hover {
  background-color: #444444 !important;
}